/* Navigation bar */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size:0.8rem;
}
/* Home section */
#home::before{
    top:-150px;
}
/* Services */
#services{
    flex-direction: column;
}
/* Clients */
#clients{
    overflow: hidden;
}
/* contact */
.contact-box form{
    width:50%;
}
/* Footer */